html, body, #root, .ICApp {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 100%;
}
body, a, span, p, textarea {
  font-family: Roboto, Arial, 'Segoe UI Emoji', -apple-system, BlinkMacSystemFont, Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
}
* {
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline : 0;
  -moz-outline : 0;
}
.top-c1 {
  display: block;
  height: 54px;
}
.top {
  display: block;
  width: 100%;
}
.top {
  height: 48px;
  position: absolute;
  top: 0;
  background-color: rgb(var(--ic-c-i7));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.top > div {
  display: inline-block;
}
.top div.c2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin-right: 20px;
  cursor: pointer;
  padding: 0 14px;
}
.top div.c2 div {
  content: '';
  width: 24px;
  display: inline-block;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 2px 0;
}
.top div.c1 span {
  color: rgb(255, 255, 255);
  font-size: 22px;
  margin: 13px 0;
  display: inline-block;
  line-height: 1;
  font-weight: 500;
}
.Entry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Entry > div {
  width: 80%;
  display: block;
  height: 54px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin: 6px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  cursor: pointer;
}
.Entry > div span {
  display: block;
  white-space: pre;
  overflow: hidden;
  line-height: 1;
}
.Entry > div span:not(.c2) {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-serlect: none;
}
.Entry > div span.c1 {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 16px;
}
.Entry > div span.c2 {
  font-size: 14px;
  font-weight: 300;
  height: 28px;
  cursor: initial;
}
.Entry > div span.c3 {
  font-size: 12px;
}
.menu, .menu * {
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}
.menu, .dialog {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: absolute;
  height: 100%;
}
.menu > div {
  display: block;
  height: 100%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  max-width: 220px;
}
.menu .c1 > div > * {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  font-size: 18px;
  padding: 12px 0;
  line-height: 1;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.menu .c1 > div > *:hover {
  background-color: rgb(238, 238, 238);
}
.menu .c1 > div > *:active {
  background-color: rgb(221, 221, 221);
}
.menu input {
  display: none !important;
}
.Editor {
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Editor > * {
  display: block;
  width: 100%;
  padding: 4px 0px;
  height: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.Editor label {
  display: block;
}
.Editor input {
  border: 0;
  width: auto;
  left: 140px;
  position: absolute;
  border-bottom: 2px solid rgb(153, 153, 153);
  min-width: 120px;
}
.Editor input:focus {
  border-bottom: 2px solid rgb(var(--ic-c-i3));
}
.Editor .c2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}
.Editor .c2 * {
  font-size: 17px;
}
.Editor .c2 label {
  font-weight: 500;
}
.Editor .c2 input {
  width: auto;
  float: right;
  font-size: 14px;
  padding: 1px 0;
  position: absolute;
  width: calc(100% - 150px);
}
.Editor .c1 * {
  font-size: 14px;
}
.Editor textarea {
  height: 100%;
  padding: 2px 4px;
  font-size: 14px;
  min-height: 200px;
  border: 2px solid rgb(153, 153, 153);
  margin-top: 12px;
  resize: vertical;
}
.Editor textarea:focus {
  border: 2px solid rgb(var(--ic-c-i3));
}
.ic-btn0 {
  border: 0;
  color: rgb(var(--ic-c-i7));
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  margin: 4px;
  border-radius: 4px;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  float: right;
}
.ic-btn0.c1, .ic-btn0.c1 {
  background-color: rgb(238, 238, 238);
}
.ic-btn0:hover, .ic-btn0:hover {
  background-color: rgb(221, 221, 221);
}
.ic-btn0:active, .ic-btn0:active {
  background-color: rgb(204, 204, 204);
}
.dialog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dialog > div {
  width: 90%;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  min-width: 240px;
  max-width: 320px;
}
.dialog > div > * {
  line-height: 1;
  display: block;
  word-break: break-word;
}
.dialog > div span:not(.c1) {
  font-size: 14px;
  padding: 6px 0;
  max-height: 120px;
  overflow-y: auto;
}
.dialog > div span.c1 {
  font-size: 16px;
  font-weight: 500;
}
.dialog > div > div {
  margin-top: auto;
  margin-bottom: -4px;
}
.dialog.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Settings > span {
  font-size: 17px;
  text-align: center;
}
.Settings {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4px;
}
.Settings > .c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Settings > .c1 > * {
  display: inline-block;
  background-color: rgb(204, 204, 204);
  width: 34px;
  height: 34px;
  margin: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
}
.Settings > .c1 .c0 {
  background-color: rgb(244, 67, 54);
}
.Settings > .c1 .c1 {
  background-color: rgb(233, 30, 99);
}
.Settings > .c1 .c2 {
  background-color: rgb(156, 39, 176);
}
.Settings > .c1 .c3 {
  background-color: rgb(63, 81, 181);
}
.Settings > .c1 .c4 {
  background-color: rgb(33, 150, 243);
}
.Settings > .c1 .c5 {
  background-color: rgb(0, 150, 136);
}
.Settings > .c1 .c6 {
  background-color: rgb(255, 193, 7);
}
.Settings > .c1 .c7 {
  background-color: rgb(255, 87, 34);
}
.Settings > .c1 .c8 {
  background-color: rgb(76, 175, 80);
}
.Settings > .c1 .c9 {
  background-color: rgb(158,158,158);
}
