#root.red {
	--ic-c-i0: 255, 235, 238;
	--ic-c-i1: 255, 205, 210;
	--ic-c-i2: 239, 154, 154;
	--ic-c-i3: 229, 115, 115;
	--ic-c-i4: 239, 83, 80;
	--ic-c-i5: 244, 67, 54;
	--ic-c-i6: 229, 57, 53;
	--ic-c-i7: 211, 47, 47;
	--ic-c-i8: 198, 40, 40;
	--ic-c-i9: 183, 28, 28;
}
#root.pink {
	--ic-c-i0: 252, 228, 236;
	--ic-c-i1: 248, 187, 208;
	--ic-c-i2: 244, 143, 177;
	--ic-c-i3: 240, 98, 146;
	--ic-c-i4: 236, 64, 122;
	--ic-c-i5: 233, 30, 99;
	--ic-c-i6: 216, 27, 96;
	--ic-c-i7: 194, 24, 91;
	--ic-c-i8: 173, 20, 87;
	--ic-c-i9: 136, 14, 79;
}
#root.purple {
	--ic-c-i0: 243, 229, 245;
	--ic-c-i1: 225, 190, 231;
	--ic-c-i2: 206, 147, 216;
	--ic-c-i3: 186, 104, 200;
	--ic-c-i4: 171, 71, 188;
	--ic-c-i5: 156, 39, 176;
	--ic-c-i6: 142, 36, 170;
	--ic-c-i7: 123, 31, 162;
	--ic-c-i8: 106, 27, 154;
	--ic-c-i9: 74, 20, 140;
}
#root.indeigo {
	--ic-c-i0: 232, 234, 246;
	--ic-c-i1: 197, 202, 233;
	--ic-c-i2: 159, 168, 218;
	--ic-c-i3: 92, 107, 192;
	--ic-c-i4: 121, 134, 203;
	--ic-c-i5: 63, 81, 181;
	--ic-c-i6: 57, 73, 171;
	--ic-c-i7: 48, 63, 159;
	--ic-c-i8: 40, 53, 147;
	--ic-c-i9: 26, 35, 126;
}
#root.blue {
	--ic-c-i0: 227, 242, 253;
	--ic-c-i1: 187, 222, 251;
	--ic-c-i2: 144, 202, 249;
	--ic-c-i3: 100, 181, 246;
	--ic-c-i4: 66, 165, 245;
	--ic-c-i5: 33, 150, 243;
	--ic-c-i6: 30, 136, 229;
	--ic-c-i7: 25, 118, 210;
	--ic-c-i8: 21, 101, 192;
	--ic-c-i9: 13, 71, 161;
}
#root.teal {
	--ic-c-i0: 224, 242, 241;
	--ic-c-i1: 178, 223, 219;
	--ic-c-i2: 128, 203, 196;
	--ic-c-i3: 77, 182, 172;
	--ic-c-i4: 38, 166, 154;
	--ic-c-i5: 0, 150, 136;
	--ic-c-i6: 0, 137, 123;
	--ic-c-i7: 0, 121, 107;
	--ic-c-i8: 0, 105, 92;
	--ic-c-i9: 0, 77, 64;
}
#root.yellow {
	--ic-c-i0: 255, 248, 225;
	--ic-c-i1: 255, 236, 179;
	--ic-c-i2: 255, 224, 130;
	--ic-c-i3: 255, 213, 79;
	--ic-c-i4: 255, 202, 40;
	--ic-c-i5: 255, 193, 7;
	--ic-c-i6: 255, 179, 0;
	--ic-c-i7: 255, 160, 0;
	--ic-c-i8: 255, 143, 0;
	--ic-c-i9: 255, 111, 0;
}
#root.orange {
	--ic-c-i0: 251, 233, 231;
	--ic-c-i1: 255, 204, 188;
	--ic-c-i2: 255, 171, 145;
	--ic-c-i3: 255, 138, 101;
	--ic-c-i4: 255, 112, 67;
	--ic-c-i5: 255, 87, 34;
	--ic-c-i6: 244, 81, 30;
	--ic-c-i7: 230, 74, 25;
	--ic-c-i8: 216, 67, 21;
	--ic-c-i9: 191, 54, 12;
}
#root.green {
	--ic-c-i0: 232, 245, 233;
	--ic-c-i1: 200, 230, 201;
	--ic-c-i2: 165, 214, 167;
	--ic-c-i3: 129, 199, 132;
	--ic-c-i4: 102, 187, 106;
	--ic-c-i5: 76, 175, 80;
	--ic-c-i6: 67, 160, 71;
	--ic-c-i7: 56, 142, 60;
	--ic-c-i8: 46, 125, 50;
	--ic-c-i9: 27, 94, 32;
}
#root.black {
	--ic-c-i0: 250,250,250;
	--ic-c-i1: 245,245,245;
	--ic-c-i2: 238,238,238;
	--ic-c-i3: 224,224,224;
	--ic-c-i4: 189,189,189;
	--ic-c-i5: 158,158,158;
	--ic-c-i6: 117,117,117;
	--ic-c-i7: 97,97,97;
	--ic-c-i8: 66,66,66;
	--ic-c-i9: 33,33,33;
}
